@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

.input-error{
    border-color: rgb(255, 0, 234);
}

.form{
    background-color: #F7F7F7;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.5rem;
}


.form input, .form button{
    border-radius: 0.5rem;
    padding: 0.5rem;
}

.form button{
    background-color: rgb(91, 224, 64);
}