.containerTable{
    position: relative;
    padding: 1rem;
    box-shadow: 0rem 0rem 1rem rgba(0, 0, 0, 0.2);
    border-radius: 2rem;
    min-height: 80dvh;
    transition: transform 0.3s, box-shadow 0.3s;
}

.containerTable:hover{
    box-shadow: 0rem 0rem 2rem rgba(0, 0, 0, 0.5);
    transform: scale(1.02);
}



.pagination{
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    bottom: 2rem;
    display: flex;
    align-items: center;
    gap: 2rem;
}

.pagination button{
    width: 10rem;
}