@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

:root {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  height: 100%; /* importante para % de altura funcionar */
}

html, body {
  height: 100%; /* importante para altura funcionar */
  margin: 0;
  padding: 0;
}

.app-container {
  font-family: "Lato", sans-serif;
  min-height: 100vh;
  background-color: #f9f9f9;
  display: flex;
  flex-direction: column;
}

.app-header {
  background-color: #111;
  color: #fff;
  padding: 1.5rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.app-title {
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 1px;
}

.main-nav {
  width: auto;
}

.nav-list {
  display: flex;
  gap: 2rem;
  list-style: none;
  font-size: 1.1rem;
}

.nav-item {
  cursor: pointer;
  transition: color 0.3s;
}

.nav-item:hover {
  color: #00bcd4;
}

.main-content {
    border: 0.2rem red solid;
  flex: 1; /* ocupa todo o espaço disponível entre header e possível footer */
  display: flex;
  justify-content: center; /* centraliza horizontalmente */
  align-items: center; /* centraliza verticalmente */
  gap: 2rem; /* espaço entre os dois blocos */
  padding: 2rem;
  box-sizing: border-box;
}

.main-content--lista {
  /* estilo especial para a página de lista */
  display: block;
  padding: 3rem;
  align-items: unset;
  justify-content: unset;
}

.form-section,
.summary-section{
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
  padding: 1.5rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form-section {
  flex: 1; /* ocupa espaço proporcional */
  max-width: 400px; /* limite máximo pra não ficar enorme */
}

.summary-section {
  flex: 2; /* ocupa o dobro do espaço do form */
  max-width: 700px;
}

.detailed-report{
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
    height: 40rem;
}